.navbar-collapse {
    flex-grow: 0 !important;
}

.header .navbar-brand {
    font-size: 44px;
    font-weight: 800;
}

.header {
    background-color: #0A101E;
}

.header .nav-link {
    font-size: 18px;
}

.main-1 {
    background-image: url(./main-1.webp);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.main-sec1 h3 {
    font-size: 32px;
    font-weight: 200;
    color: #FEC544;
}

.main-sec1 h2 {
    font-size: 80px;
    color: white;
    font-weight: 900;
}

.main-sec1 {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    height: 100vh;
}

.main-sec1 h4 {
    color: rgb(169, 173, 184);
    font-weight: 300;
    font-size: 30px;
}

.main-sec2 img {
    width: 90%;
    filter: drop-shadow(0rem -0.001rem 0.1rem #FEC544);
}

.main-sec2 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    background-color: #00000099;
}

.row {
    --bs-gutter-x: 0rem !important;
}

.main-2 {
    background-color: #0A101E;
    height: 100%;
}

.about-me {
    color: #FEC544;
    font-weight: 400;
}

.highlighted-text {
    position: absolute;
    left: 37%;
    bottom: -37%;
    font-size: 60px;
    font-weight: 800;
    color: #FFFFFF99;
    opacity: 0.1;
    z-index: 0;
}

.main-2 h4 {
    font-size: 40px;
    font-weight: 400;
}

.main-2 h5 {
    color: #FEC544;
    font-size: 20px;
    font-weight: 400;
}

.main-2 p {
    color: #a9adb8;
    /* font-family: 'Inter', sans-serif; */
    font-size: 17px;
    font-weight: 400;
    line-height: 1.9em;
}

.main-2 a {
    color: #a9adb8;
    /* font-family: 'Inter', sans-serif; */
    font-size: 17px;
    font-weight: 400;
    line-height: 1.9em;
    text-decoration: none;
}

.modal-body img {
    width: 100%;
}

.main-2 .resume {
    background-color: #FEC544;
    border: 2px solid #FEC544;
    padding: 4px 20px;
}

.main-2 .resume:hover {
    border: 2px solid #FEC544;
}

.highlighted-text-1 {
    position: relative;
    /* left: 37%; */
    bottom: -1.4em;
    font-size: 60px;
    font-weight: 800;
    color: #FFFFFF99;
    opacity: 0.2;
    z-index: 0;
}

.main-3 {
    background-color: black;
    /* height: 100%; */
}

.services {
    color: #FEC544;
    font-weight: 400;
}

.skill-1, .card {
    background-color: #101624 !important;
    border: 1px solid #ffffff3c !important;
    border-radius: 3px !important;
}

.icon svg {
    width: 40% !important;
    /* text-align: center !important; */
    display: flex;
    justify-content: center;
}

.icon {
    display: flex;
    justify-content: center;
}

.card-body .card-title {
    color: white;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.1px;
}

.skill-1, .card-body {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100% !important;
    /* width: 100px; */
}
.skill-1:hover .card-title{
    color: #FEC544; 
    transition: 0.2s all ease-in-out;
}
.skill-1:hover{
    border: 1px solid #FEC544 !important;
    transition: 0.4s all ease-in-out;
    transform: scale(0.9);
}
.skill-1{
    transition: 0.4s all ease-in-out;
}
.icon i {
    color: white;
    font-size: 94px;
}
.main-2 img{
    width: 100%;
}
.main-4{
    background-color: #0A101E;
}